.cv-page {
  margin: 0 auto;
  max-width: 1024px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  background-color: #4d4d4f;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.avatar {
  height: 250px;
}

h1 {
  font-size: 48px;
  margin-right: 75px;
  margin-top: 50px;
}

.contact {
  margin: 22px 100px 0px 0;
}

.contact-title {
  margin-left: 42px;
}

.contact-item {
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: coral;
}

main {
  background-color: #e9eaec;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #4d4d4f;
}

.logo {
  height: 50px;
}
