.cv-page {
  margin: 0 auto;
  max-width: 1024px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  background-color: #4d4d4f;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.avatar {
  height: 250px;
}

h1 {
  font-size: 48px;
  margin-right: 75px;
  margin-top: 50px;
}

.contact {
  margin: 22px 100px 0px 0;
}

.contact__title {
  margin-left: 42px;
}

.contact__item {
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: coral;
}

main {
  background-color: #e9eaec;
}

section {
  margin-left: 15px;
}

.title {
  font-size: 36px;
  color: #4d4d4f;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #e9eaec;
  height: 130px;
}

.logo {
  height: 60px;
  margin: 32px 0 0 40px;
}

.footer__year {
  font-size: 35px;
  margin: 80px 55px 0 0;
  color: #4d4d4f;
}

.footer__git {
  font-size: 30px;
  margin: 50px 58px 0 0;
}
